[project]
	description = bugfix timezone wrong when read kudu timestamp
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dachn
[access "refs/for/refs/*"]
	read = group user/dachn
	push = group user/dachn
	label-Code-Review = -2..+2 group user/dachn
	label-Verified = -1..+1 group user/dachn
	rebase = group user/dachn
	removeReviewer = group user/dachn
	submit = group user/dachn
[access "refs/heads/*"]
	read = group user/dachn
	create = group user/dachn
	push = +force group user/dachn
	pushMerge = group user/dachn
[access "refs/tags/*"]
	push = group user/dachn
	push = +force group user/dachn
