[project]
	description = bugfix timezone wrong when read kudu timestamp
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dachn (dachn)
[access "refs/for/refs/*"]
	read = group user/dachn (dachn)
	push = group user/dachn (dachn)
	label-Code-Review = -2..+2 group user/dachn (dachn)
	label-Verified = -1..+1 group user/dachn (dachn)
	rebase = group user/dachn (dachn)
	removeReviewer = group user/dachn (dachn)
	submit = group user/dachn (dachn)
[access "refs/heads/*"]
	read = group user/dachn (dachn)
	create = group user/dachn (dachn)
	push = +force group user/dachn (dachn)
	pushMerge = group user/dachn (dachn)
[access "refs/tags/*"]
	push = group user/dachn (dachn)
	push = +force group user/dachn (dachn)
